*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.shutterstock.com%2Fimage-vector%2Famazon-icon-editorial-logo-isolated-260nw-2308438905.jpg&tbnid=kMxosjUtD1HDAM&vet=12ahUKEwjLoOWQ7u2DAxXLZGwGHZ3_An8QMygDegQIARA4..i&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Famazon-logo&docid=oG0FW-agN2R18M&w=823&h=280&q=amazon%20transparent%20logo&ved=2ahUKEwjLoOWQ7u2DAxXLZGwGHZ3_An8QMygDegQIARA4");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
/** box2 **/

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-second{
    font-size: 1rem;
   margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** Box-3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
     border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;

}

/**Box-4**/
.lang {
   background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.britannica.com%2F22%2F171722-131-E03A7DB5%2FUnion-Jack-British-Flag-of-Great-Britain.jpg&tbnid=s-Y4aK4OxD3gvM&vet=12ahUKEwi7yKjw7e2DAxXps2MGHWqwA10QMygEegQIARB7..i&imgrefurl=https%3A%2F%2Fwww.britannica.com%2Fplace%2FEngland&docid=PKjCW5f_3K20oM&w=900&h=675&itg=1&q=england&ved=2ahUKEwi7yKjw7e2DAxXps2MGHWqwA10QMygEegQIARB7");
   background-size: cover;
   height: 50px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/**Box5**/
.nav-cart i {
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;

}

/**panel**/
.panel {
        height: 40px;
        background-color: #222f3d;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;

}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/**hero-section**/
.hero-section{
    background-image: url("https://www.amazon.com/gp/goldbox/?ie=UTF8&pd_rd_w=H6RHR&content-id=amzn1.sym.f6b66aaf-88cb-42d3-9ebc-b1f74e2387e8&pf_rd_p=f6b66aaf-88cb-42d3-9ebc-b1f74e2387e8&pf_rd_r=WFFRCFASFWV3TPB5A0PK&pd_rd_wg=iXWxl&pd_rd_r=fab02189-d44c-4cbd-9c71-d72d7273f255");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    width: 80%;
    margin-bottom: 25px;
   
}

.hero-msg a {
    color: hsla(317, 86%, 48%, 0.392);
}
/**shop-section**/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
/**Footer**/

.footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
} 
